body{
    font-family: arial,sans-serif;
    background-color: rgb(0, 255, 255);
}
#quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 117);
}
h1 {
    text-align: center;
    color: #000000;
}
#question {
    margin-bottom: 20px;
}

#options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #00d9ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #8c00ff;
}